include header
  style
    include ../css/Exercise.css
body
  .tags 
    b Tags
    each element in exercise[3]
      a(href=""+element) #{element}
  .video
    iframe( width="1903" height="768" 
  src="https://www.youtube.com/embed/"+exercise[4] frameborder="1" 
  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
  allowfullscreen)
  .description #{exercise[0]}
  .links
    h4 Links
    each element in exercise[1]
      a(href=element) #{element}